@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,400..600&display=swap');

:root {
  --font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;

  --color-text-primary: #ffffff;
  --color-text-secondary: #000000;
  --color-primary-bg-light: #d69e36;
  --color-primary-bg-dark: #877f90;
  --color-bg-desktop-light: #deab4d;
  --color-bg-desktop-dark: #958b9f;
  --color-chart-line: '#ffc355';
  --color-notification-warning: #dc3545;
  --color-notification-info: #403b45;

  --bg-02d: url('@bg/02d.jpg');
  --bg-03d: url('@bg/03d.jpg');
  --bg-04d: url('@bg/04d.jpg');
  --bg-09d: url('@bg/09d.jpg');
  --bg-10d: url('@bg/10d.jpg');
  --bg-11d: url('@bg/11d.jpg');
  --bg-13d: url('@bg/13n.jpg');
  --bg-50d: url('@bg/50d.jpg');
  --bg-02n: url('@bg/02n.jpg');
  --bg-03n: url('@bg/03n.jpg');
  --bg-04n: url('@bg/04n.jpg');
  --bg-09n: url('@bg/09n.jpg');
  --bg-10n: url('@bg/10n.jpg');
  --bg-11n: url('@bg/11n.jpg');
  --bg-13n: url('@bg/13n.jpg');
  --bg-50n: url('@bg/50n.jpg');
}

body {
  display: flex;
  justify-content: center;

  min-height: 100vh;

  font-family: var(--font-family);

  color: var(--color-text-primary);
  background-color: var(--color-primary-bg-light);
  background-size: cover;
  background-repeat: no-repeat;
}

body.dark {
  background-color: var(--color-primary-bg-dark);
}

.app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;

  text-align: center;
}

.main {
  display: flex;
}

.middle-column {
  display: flex;
  flex-direction: column;

  margin-inline: 20px;
}

.disabled {
  opacity: .4;
  cursor: not-allowed;
}

/* Контейнер виджета */
.container {
  border-radius: 40px;

  background-color: var(--color-bg-desktop-light);
}

.dark .container {
  background-color: var(--color-bg-desktop-dark);
}

.widget-title {
  display: flex;

  padding-left: 52px;

  font-weight: 500;
}
