/* Блок с состоянием воздуха */
.air-conditions-container {
  display: flex;
  flex-direction: column;

  width: 324px;
  height: 100%;
  min-height: 496px;
  padding-top: 34px;
}

.daily-forecast {
  position: relative;
  overflow: hidden;

  height: 57px;
  margin-bottom: 15px;
}

.unavailable .daily-forecast {
  display: none;
}

.daily-forecast > button {
  position: absolute;
  top: -30px;
  bottom: 0;
  z-index: 1;

  cursor: pointer;

  transition: filter .5s;
}

.daily-forecast > button:hover {
  filter: invert(1);
}

.daily-forecast-button-left {
  left: 0;

  transform: scaleX(-1);
}

.daily-forecast-button-right {
  right: 0;
}

.daily-forecast-data {
  position: relative;
  left: -46px;
  display: flex;
  gap: 30px;

  transition: left .9s;
}

.day-icon {
  width: 31px;
  min-width: 31px;
}

.middle {
  transform: scale(1.1);
  transition: transform .9s;
}

.near-middle {
  opacity: .8;
  transform: scale(.9);
  transition: opacity .9s, transform .9s;
}

.from-edge {
  opacity: .6;
  transform: scale(.7);
  transition: opacity .9s, transform .9s;
}

.air-conditions-time {
  display: flex;
  gap: 4px;
  justify-content: center;

  margin-bottom: 34px;

  font-weight: 500;
  font-size: 15px;
}

.unavailable .air-conditions-time {
  font-weight: 400;
  font-size: 18px;

  color: var(--color-text-secondary);
}

.air-conditions-time-img {
  width: 14px;
}

.unavailable .air-conditions-time-img {
  display: none;
}

.air-conditions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-left: 16px;

  background-image: url('@images/mountains.svg');
  background-repeat: no-repeat;
  background-position: center 120%;
}

.air-conditions-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
}

.air-conditions-item {
  display: flex;
}

.air-conditions-item:not(:last-child) {
  margin-bottom: 45px;
}

.air-conditions-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 3px;

  font-weight: 500;
}

.air-conditions-label {
  font-size: 12px;
}

.air-conditions-value {
  font-size: 16px;
}
