/* Блок с почасовым графиком погоды */
.chart-container {
  padding-top: 11px;
}

.forecast-title {
  font-size: 14px;
}

.chart-container {
  position: relative;
  overflow: hidden;

  max-width: 884px;
  height: 235px;
}

.chart {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 1084px;
  height: 120px;
  margin: 0 auto;

  transform: translate(-50%, -75%);
}

.canvasjs-chart-credit {
  height: 0;
}

.point-info {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: 400;
  font-size: 8px;
}

.point-info-img {
  max-width: 30px;
}

.first-point-info:after {
  content: '';
  position: fixed;

  width: 1px;
  height: 23px;
  border: 1px dashed #fcc355;

  transform: translateY(var(--data-top));
}

.chart.unavailable::after {
  content: 'Requested data unavailable.';
  position: absolute;

  font-size: 20px;

  color: var(--color-text-secondary);

  transform: translate(-50%, 50%);
}
