/* Верхний блок с основной информацией */
.main-info {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;
  padding-inline: 56px;
}

.city-form {
  display: flex;
  gap: 5px;

  margin-bottom: 40px;

  font-weight: 500;
  font-size: 24px;
}

.city-form-icon {
  width: 30px;
}

.city-form-input {
  width: 140px;
}

.city-form-button {
  cursor: pointer;
}

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.current-weather-name {
  font-weight: 500;
  font-size: 48px;
}

.current-weather-temperature {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 64px;
}

.current-date {
  font-weight: 400;
  font-size: 18px;

  color: var(--color-text-secondary);
}

.current-weather-image {
  width: 321px;
}

.notification {
  position: absolute;
  top: 84px;
  display: block;

  padding: 10px 40px;
  border-radius: 16px;

  opacity: 0;
}

.notification.warning {
  background-color: var(--color-notification-warning);
}

.notification.info {
  background-color: var(--color-notification-info);
}

.notification.active {
  opacity: 1;
  transition: opacity .9s;
}
