/* Навигационная панель */
.nav-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100px;
  height: 100%;
  padding-block: 20px;
}

.avatar {
  cursor: pointer;
}

.avatar:hover {
  filter: brightness(110%);
  transition: filter .5s;
}

.avatar > img {
  border-radius: 50%;
}

.nav-bar {
  display: flex;
  flex-direction: column;

  font-weight: 600;
  font-size: 14px;
}

.nav-bar-item {
  display: flex;
  flex-direction: column;

  cursor: pointer;
}

.nav-bar-item:not(:last-child) {
  margin-bottom: 22px;
}

.nav-bar-item:hover {
  color: var(--color-text-secondary);

  transition: color .5s;
}
