/* Блок с ближайшими активностями */
.activities-container {
  margin-bottom: 31px;
  padding-top: 20px;
  padding-inline: 20px;
  padding-bottom: 34px;
}

.activities-title {
  margin-bottom: 36px;
  padding-left: 32px;

  font-size: 24px;
}

.activities {
  display: flex;
  justify-content: center;

  max-width: 884px;

  font-weight: 500;
  font-size: 18px;
  text-align: left;

  color: var(--color-text-secondary);
}

.activity {
  font-size: 12px;
}

.activity-image {
  object-fit: cover;

  width: 179px;
  height: 108px;
  border-radius: 10px;
}

.activity-image:hover {
  filter: brightness(120%);
  transition: filter 1.5s;
}

.activity:not(:last-child) {
  margin-right: 22px;
}
